.window, .window-title, .blorg-list {
    border-color: var(--fg-white);
    border-style: solid;
}

.window, .blorg-list {
    border-width: 1px;
    padding: 0 1em 0 1em;
    margin-bottom: 1em;
}

.window-title {
    border-width: 1px 1px 0 1px;
    padding: 5px;
    font-weight: bold;
    background-color: var(--fg-white);
    color: var(--bg-grey);
}
	    
.window-title p {
    margin: 0;
}

.blorg-list p a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 8px;
}
